/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

strong, b {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

a img {
  border: none;
}

/* END RESET*/
/* GLOBAL STYLES */

@font-face {
  font-family: 'AvenirNextLTPro-Heavy';
  src: url('/font/3AE983_0_0.eot');
  src: url('/font/3AE983_0_0.eot?#iefix') format('embedded-opentype'),
    url('/font/3AE983_0_0.woff2') format('woff2'),
    url('/font/3AE983_0_0.woff') format('woff'),
    url('/font/3AE983_0_0.ttf') format('truetype'),
    url('/Users/corey/Web/test/font/3AE983_0_0.woff');
}

@font-face {
  font-family: 'AvenirNextLTPro-Bold';
  src: url('/font/3B01AD_0_0.eot');
  src: url('/font/3B01AD_0_0.eot?#iefix') format('embedded-opentype'),
    url('/font/3B01AD_0_0.woff2') format('woff2'),
    url('/font/3B01AD_0_0.woff') format('woff'),
    url('/font/3B01AD_0_0.ttf') format('truetype'),
    url('/Users/corey/Web/test/font/3B01AD_0_0.woff');
}

body {
  background-color: #DC3F64;
  display: flex;
  flex-direction: column;
  font-family: "AvenirNextLTPro-Heavy", serif;
  min-height: 100vh;
}

/* FULL HERO SECTION */
.full-hero {
  /* background-color: #DC3F64; */
  background-size: cover;
  background-image: url(../images/bg_hero.png);
  background-position: top left;
  animation: gradient 15s ease infinite;
  height: 100vh;
  position: relative;
}

.header {
  height: 200px;
  position: relative;
  width: 100%;
}
.header-dates {
  height: 100px;
  position: relative;
  width: 100%;
}
.header-logo {
  left: 50%;
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
}
.home-section {
  margin: 6rem auto;
  max-width: 980px;
  width: 90vw;
}

.tagline {
  animation-delay: 1.5s;
  animation-duration: 3s;
  color: #fff;
  /* letter-spacing: 0.3em; */
  position: relative;
  text-align: center;
}

.tagline h2 {
  font-family: "AvenirNextLTPro-Bold", serif;
  font-size: 3.5vw;
}

/* TOUR DATES */
.hero-dates {
  background: linear-gradient(-45deg, #DF594F, #DC3F64, #58B2D0, #6F4767);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  /* height: 100vh; */
  position: relative;
  display: none;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.tour {
  color: rgb(251, 221, 116);
  font-size: 4vw;
  /* letter-spacing: -1px; */
  margin: auto;
  padding: 5vh 0 10vh 0;
  /* text-align: center; */
  width: 80%;
  /* min-height: 200vh; */
  /* background: rgb(101, 175, 194); */
}

.tour h1 {
  margin: .3em 0 0 0;
}

.tour h1 div {
  /* color: rgba(238, 238, 238, 0.8); */
  color: #fff;
  /* padding-left: 2.5rem; */
  font-family: "Forza A", "Forza B";
  font-style: normal;
  font-weight: 700;
  display: inline;
  position: absolute;
  right: 10vw;
}

.tour h4 {
  /* color: rgba(238, 238, 238, 0.8); */
  color: #fff;
  font-size: 2vw;
}

.tour h4 span {
  color: #ff6e6c;
}

@media (max-width: 800px) {
  .home-section {
    margin: 3rem auto;
    left: 50%;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .tagline {
    animation-delay: 1.5s;
    animation-duration: 3s;
    color: #fff;
    /* letter-spacing: 0.3em; */
    position: relative;
    text-align: center;
  }

  .tagline h2 {
    font-family: "AvenirNextLTPro-Bold", serif;
    font-size: 5vw;
  }
}
